<p>book-list works!</p>
<div *ngIf="selectedBook">
  <h2>
    {{selectedBook.title | uppercase}} was selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<h2>Books</h2>

<div>
  <label>Get the page:
    <input #page type="number" required="true" [defaultValue]="0" min="0" [max]="noBooks" ></label>
  <input type="submit" (click)="getPagedBooks(page.valueAsNumber)">
</div>

<div>
  <label>Sort By Attribute:
    <select #SortAttr1>
      <option value="">None</option>
      <option value="id">Id</option>
      <option value="title">Title</option>
      <option value="author">Author</option>
      <option value="price">Price</option>
    </select>
    <select #SortDir1>

      <option value="">None</option>
      <option value="true">Ascending</option>
      <option value="false">Descending</option>
    </select>
    <select #SortAttr2>

      <option value="">None</option>
      <option value="id">Id</option>
      <option value="title">Title</option>
      <option value="author">Author</option>
      <option value="price">Price</option>
    </select>
    <select #SortDir2>

      <option value="">None</option>
      <option value="true">Ascending</option>
      <option value="false">Descending</option>
    </select>
    <select #SortAttr3>
      <option value="">None</option>
      <option value="id">Id</option>
      <option value="title">Title</option>
      <option value="author">Author</option>
      <option value="price">Price</option>
    </select>
    <select #SortDir3>

      <option value="">None</option>
      <option value="true">Ascending</option>
      <option value="false">Descending</option>
    </select>
    <select #SortAttr4>

      <option value="">None</option>
      <option value="id">Id</option>
      <option value="title">Title</option>
      <option value="author">Author</option>
      <option value="price">Price</option>
    </select>
    <select #SortDir4>

      <option value="">None</option>
      <option value="true">Ascending</option>
      <option value="false">Descending</option>
    </select>
    <input type="submit" (click)="getSortedPagedBooks(page.valueAsNumber, SortAttr1.value,
  SortDir1.value, SortAttr2.value, SortDir2.value, SortAttr3.value, SortDir3.value ,SortAttr4.value, SortDir4.value)">
  </label>
</div>

<div>
  <div><label>Filter books by Title <input #title required="true"></label><input type="submit" (click)="getBooksByTitle(title.value, page.valueAsNumber, SortAttr1.value,
  SortDir1.value, SortAttr2.value, SortDir2.value, SortAttr3.value, SortDir3.value ,SortAttr4.value, SortDir4.value)"></div>
  <div><label>Filter books by Author <input #author required="true"></label><input type="submit" (click)="getBooksByAuthor(author.value, page.valueAsNumber, SortAttr1.value,
  SortDir1.value, SortAttr2.value, SortDir2.value, SortAttr3.value, SortDir3.value ,SortAttr4.value, SortDir4.value)"></div>
  <div><label>Filter books with price less than <input #price type="number" min="0" required="true"></label><input type="submit" (click)="getBooksByPrice(price.valueAsNumber, page.valueAsNumber, SortAttr1.value,
  SortDir1.value, SortAttr2.value, SortDir2.value, SortAttr3.value, SortDir3.value ,SortAttr4.value, SortDir4.value)"></div>
  <div><label>Reset filters</label><input type="submit" (click)="getBooks()"></div>
</div>


<ol class="books">
  <li *ngFor="let book of books "
      [class.selected]="book === selectedBook"
      (click)="onSelect(book)">
    {{book.title}}

    <button
      [class.delete]="true"
      (click)="deleteBook(book);$event.stopPropagation()">delete
    </button>
  </li>
</ol>


<button (click)="goBack()">Back</button>
