<div *ngIf="selectedClient">
  <h2>
    {{selectedClient.name | uppercase}} was selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>




<h2>Clients</h2>

<div>
  <label>Get the page:
    <input #page type="number" required="true" [defaultValue]="0" min="0" [max]="noClients" ></label>
  <input type="submit" (click)="getPagedClients(page.valueAsNumber)">
</div>
<div>
  <label>Sort By Attribute:
    <select #SortAttr1>
      <option value="">None</option>
      <option value="id">Id</option>
      <option value="name">Name</option>
    </select>
    <select #SortDir1>

      <option value="">None</option>
      <option value="true">Ascending</option>
      <option value="false">Descending</option>
    </select>
    <select #SortAttr2>

      <option value="">None</option>
      <option value="id">Id</option>
      <option value="name">Name</option>
    </select>
    <select #SortDir2>

      <option value="">None</option>
      <option value="true">Ascending</option>
      <option value="false">Descending</option>
    </select>
  <input type="submit" (click)="getSortedPagedClients(page.valueAsNumber, SortAttr1.value,
  SortDir1.value, SortAttr2.value, SortDir2.value)">
  </label>
</div>
<div>
  <label>Filter clients by name:
    <input #filter></label>
  <input type="submit" (click)="getFilteredClients(page.valueAsNumber, filter.value, SortAttr1.value,
  SortDir1.value, SortAttr2.value, SortDir2.value)">
</div>

<ol class="clients">
  <li *ngFor="let client of clients "
      (click)="onSelect(client)">
    {{client.name}}

    <button

      (click)="deleteClient(client);$event.stopPropagation()">delete
    </button>
  </li>

</ol>

<button (click)="goBack()">Back</button>
