<h1>{{title}}</h1>

<p>Welcome</p>
<nav>
  <a routerLink="/book" routerLinkActive="active">Books</a>
  <a routerLink="/client" routerLinkActive="active">Clients</a>
</nav>

<router-outlet></router-outlet>


