<p>client-buy works!</p>
<div *ngIf="client">
  <h2>Client {{client.name}} details</h2>

  <div>
    <ol>
      <li *ngFor="let book of books"
          [class.selected]="book=== selectedBook"
          (click)="onSelect(book)">

        {{book.title}},{{book.author}},{{book.price}}
        <button
          [class.add]="true"
          (click)="buy(book);$event.stopPropagation()">add
        </button>
      </li>
    </ol>
  </div>


  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>

